<h1>Hello - V2</h1>
<p>Is it tea you're looking for ?</p>
<div>
  <h2>Student List</h2>
  {{student-list onRemove=(action 'removeController1' ) onReset=(action 'resetController1')}}
    {{#each model as |student|}}
      {{student}}<br>
    {{/each}}
</div>
{{outlet}}
